@charset "utf-8";
.collection_page{
	font-size: 0.40625rem;
}
header{
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #ccc;
	display: flex;
	justify-content:space-between;
	align-items:center;
	background: #fff;
}
header .back{
	width: 1.5625rem;
	height: 1.5625rem;
	background: url(http://staticnew.mayi.com/resourcesWap/v2015/images/back.png) no-repeat center;
	background-size: auto 50%;
	float: left;
}
header .menu{
	width: 1.5625rem;
	height: 1.5625rem;
	background: url(https://staticnew.mayi.com/resourcesWap/v2015/images/r_more.png) no-repeat 0.475rem center;
	background-size: auto 50%;
}
.choose{
	background: #fff;
	overflow:hidden;
	display: flex;
}
.fixed_top{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
}
.choose li{
	flex-grow: 1;
	text-align: center;
	// padding-left: 0.3125rem;
	height: 1.3125rem;
}

.choose li a{
	width: 100%;
	line-height: 1.28125rem;
	display: block;
	border-bottom: 1px solid #e7e7e7;
}
.choose li.active a{
	color: #22bb62;
	border-bottom: 1px solid #22bb62;
}
// .empty{
// 	width: 100%;
// 	height: 1.3125rem;
// 	display: none;
// }

/*主体内容*/
.room_list{
	margin-top: 2.875rem;
}
.choose_list{
	overflow: hidden;
	padding:0.3125rem;
	width:110%;
}
.choose_list li{
	float: left;
	padding:0.0625rem 0.3125rem;
	border:1px solid #d9d9d9;
	background-color: #fff;
	border-radius: 0.15625rem;
	margin-left: 0.46875rem;
	color:#666666;
}

.house_content{
	position:relative;
	background: #fff;
	position: relative;
}
.house_content .scanner{
	position: absolute;
	z-index: 2;
}
.house_content a{
	display: block;
	width:100%;
	overflow: hidden;
}
.house_content a>img{
	// float:left;
	width:100%;
	height:6.25rem;
	margin-bottom: 0.15625rem;
}
.house_content .collection{
	position:absolute;
	right: 0.3125rem;
	top: 0.3125rem;
	z-index: 2;
	width: 1.25rem;
	height: 1.25rem;
	background: url(../images/coll_gray.png) no-repeat center center;
	background-size: 0.84375rem 0.75rem;
}
.house_content .collection.collected{
	background: url(../images/coll_red.png) no-repeat center center;
	background-size: 0.84375rem 0.75rem;
}
.house_content .abs{
	position:absolute;
}
.house_content .price{
	left: 0;
    top: 4.8125rem;
    height: 1.1875rem;
}
.house_content .price span{
	display: inline-block;
    font-size: 0.78125rem;
    background: rgba(0, 0, 0, 0.8);
    line-height: 1.1875rem;
    height: 1.1875rem;
    color: #fff;
    padding: 0 0.28125rem;
}
.house_content .price b{
	font-weight: normal;
	font-size: 0.46875rem;
}
.house_content .landlord_img{
	right: 0.46875rem;
    top: 5.375rem;
}
.house_content .landlord_img img{    
	border: 1px solid #fff;
    border-radius: 50%;
    width: 1.5625rem;
    height: 1.5625rem;
}
.house_content .room_level{
	left: 0.25rem;
    top: 0.25rem;
}
.house_content .room_level img{    
	width:1.09375rem;
}
.house_content .room_intoduce{
	height:1.71875rem;
	line-height: 0.6875rem;
	color:#444;
}
.house_content .room_intoduce dt span{
	padding: 0  1.875rem  0  0.3125rem;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    display: block;
}
.house_content .room_intoduce dd{
	margin-left: 0.3125rem;
}
.house_content .room_intoduce dd nav{
	display: block;
    margin-right: 0.3125rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.4375rem;
    line-height: 0.625rem;
    color:#777;
}
.house_content .room_intoduce .c22bb62{
	color:#22bb62;
}
.house_content .fy_label{
	color:#333;
	padding:0 0.3125rem;    
	margin: -0.15625rem 0 0.3125rem 0;
}
.house_content .fy_label li{
    font-size: 12px;
    color: #7aac9d;
    padding: 3px 6px;
    border-radius: 3px;
    background-color: #f0f8f5;
    display: inline-block;
    margin-right: 5px;
}
.delete_page{
	width: 10.0rem;
	height: 17.75rem;
	background: rgba(0,0,0,.5);
	position: fixed;
	z-index: 5;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: none;
}
.delete_page p{
	width: 80%;
	// text-align: center;
	padding: 0.46875rem 0.3125rem;
}
.delete_page p:first-child{
	background: #000;
	color: #fff;
	font-size: 0.40625rem;
}
.delete_page p:last-child{
	background: #fff;
	color: #000;
	font-size: 0.46875rem;
}