<div class="collection_page">	
	<div class="fixed_top">
		<header>
			<a ng-click = "gohash()" class="back"></a>
			<div>我的收藏</div>
			<div class="menu">
			</div>
		</header>
		<ul class="choose" choose-click>
			<li class="coll active"><a  class="active">我的收藏</a></li>
			<li class="scan"><a >浏览记录</a></li>
		</ul>
	</div>
	<div class="room_list">
		<div class="collection" ng-repeat="item in collectArr track by $index">
				<div class="house_content">
					<div class="collection collected" data-id="{{item['id']}}" delete-room></div>
					<a ui-sref="details">
						<img src="{{item.mainimgurl}}" alt="">
						<p class="price abs">
							<span><b>￥</b>{{item.dayprice}}</span>
						</p>
						<p class="landlord_img abs">
							<img src="{{item.landlordheadimgurl}}">
						</p>
						<p class="room_level abs">
							<img src="pages/home/images/level9-2_1.png">
						</p>
						<dl class="room_intoduce">
							<dt><span>{{item.sName}}</span></dt>
							<dd>
								<nav>
									<span class="c22bb62">{{item.goodCommentRate}}分</span> ·
									<span>{{item.commentcnt}}评论</span> ·
									<span>已订{{item.booknightcnt}}晚</span> ·
									<span>{{item.roomtype}}</span>
									<span>住{{item.guestnum}}人</span> ·
									<span>{{item.sDisplayaddr}}</span>
								</nav>
							</dd>
						</dl>
						<ul class="fy_label">
							<li>长租优惠</li>
							<li>蚂蚁实拍</li>
						</ul>
					</a>
				</div>
		</div>
	</div>
	<div class="room_list" style="display: none">
		111
		<!-- <div class="scanner" ng-repeat="item in collectArr track by $index">
				<div class="house_content">
					<a ui-sref="details">
						<img src="{{item.mainimgurl}}" alt="">
						<p class="price abs">
							<span><b>￥</b>{{item.dayprice}}</span>
						</p>
						<p class="landlord_img abs">
							<img src="{{item.landlordheadimgurl}}">
						</p>
						<p class="room_level abs">
							<img src="pages/home/images/level9-2_1.png">
						</p>
						<dl class="room_intoduce">
							<dt><span>{{item.sName}}</span></dt>
							<dd>
								<nav>
									<span class="c22bb62">{{item.goodCommentRate}}分</span> ·
									<span>{{item.commentcnt}}评论</span> ·
									<span>已订{{item.booknightcnt}}晚</span> ·
									<span>{{item.roomtype}}</span>
									<span>住{{item.guestnum}}人</span> ·
									<span>{{item.sDisplayaddr}}</span>
								</nav>
							</dd>
						</dl>
						<ul class="fy_label">
							<li>长租优惠</li>
							<li>蚂蚁实拍</li>
						</ul>
					</a>
				</div>
		</div> -->
	</div>
</div>
