<div id="home_page">
	<header>
		<a ui-sref="city"><input type="text" placeholder="搜索城市或目的地"></a>
	</header>
	<div class="empty_div"></div>
	<!-- banner部分 -->
	<section class="home_banner">
		<section class="home_banner_bg"></section>
		<section class="home_banner_listIcon">
			<a ui-sref="nearby">
				<img src="http://staticnew.mayi.com/resourcesWap/v2015/images/near_house.png">
				<span>附近房源</span>
			</a>
			<a ui-sref="index.order">
				<img src="http://staticnew.mayi.com/resourcesWap/v2015/images/my_order.png">
				<span>我的订单</span>
			</a>
			<a ui-sref="collection_scan">
				<img src="http://staticnew.mayi.com/resourcesWap/v2015/images/check-history.png">
				<span>收藏浏览</span>
			</a>
			<a ui-sref="landlord">
				<img src="http://staticnew.mayi.com/resourcesWap/v2015/images/fd_rect.png">
				<span>房东招募</span>
			</a>
		</section>
		<section class="home_banner_Activies">
			<ul>
				<li>
					<a ui-sref="index.week">
						<img src="https://i1.mayi.com/mayi75/M24/PR/XA/RY7JUB2RKE2F7KLZZHVQKPW3SXJGJT.jpg_250x116c.jpg">
						<p class="hb_activies_title">
							<span>嗨翻周末</span>
							<font>周边游目的地精选</font>
						</p>
					</a>
				</li>
				<li>
					<a ui-sref="index.bestCheck">
						<img src="https://i1.mayi.com/mayi77/M63/QZ/DJ/65SVP9X6YMH4UMH5JXKBXL5TIWQOIQ.jpg_250x116c.jpg">
						<p class="hb_activies_title">
							<span>蚂蚁优选</span>
							<font>只为品质安心</font>
						</p>
					</a>
				</li>
				<li>
					<a ui-sref="index.friend">
						<img src="https://i1.mayi.com/mayi21/M22/WV/NK/2ACDJFZ05DV6K9SS6RCH4N7030HVPL.jpg_250x116c.jpg">
						<p class="hb_activies_title">
							<span>邀请好友</span>
							<font>先领券 再下单</font>
						</p>
					</a>
				</li>
				<li>
					<a ui-sref="index.outing">
						<img src="https://i1.mayi.com/mayi70/M60/IP/WR/SIEPBJWAWNLBBQXXB581BIK1BGQAZ3.jpg_250x116c.jpg">
						<p class="hb_activies_title">
							<span>出游风向标</span>
							<font>开启旅游奇缘</font>
						</p>
					</a>
				</li>
			</ul>
		</section>
	</section>
	<!-- 热门目的地 -->
	<main class="hot_city">
		<div class="home_hotCity homt_title">
			<h1>热门目的地</h1>
			<p>玩转热门景点，一起嗨起来</p>
		</div>
		<nav class="home_hotCity_listPic">
			<a ui-sref="nearby({name:'三亚',url:'/sanya'})">
				<img src="pages/home/images/sanya.jpg">
				<span>三亚</span>
			</a>
			<a ui-sref="nearby({name:'厦门',url:'/xiamen'})">
				<img src="pages/home/images/xiamen.jpg">
				<span>厦门</span>
			</a>
			<a ui-sref="nearby({name:'海口',url:'/haikou'})">
				<img src="pages/home/images/haikou.jpg">
				<span>海口</span>
			</a>
			<a ui-sref="nearby({name:'哈尔滨',url:'/haerbin'})">
				<img src="pages/home/images/haerbin.jpg">
				<span>哈尔滨</span>
			</a>
			<a ui-sref="nearby({name:'香港',url:'/xianggang'})">
				<img src="pages/home/images/xianggang.jpg">
				<span>香港</span>
			</a>
			<a ui-sref="nearby({name:'北海',url:'/beihai'})">
				<img src="pages/home/images/beihai.jpg">
				<span>北海</span>
			</a>
			<a ui-sref="nearby({name:'昆明',url:'/kunming'})">
				<img src="pages/home/images/kunming.jpg">
				<span>昆明</span>
			</a>
			<a ui-sref="nearby({name:'大理',url:'/dali'})">
				<img src="pages/home/images/dali.jpg">
				<span>大理</span>
			</a>
		</nav>
	</main>

	<!-- 推荐房源 -->
	<section class="recommend_house">
		<div class="home_recommend homt_title">
			<h1>推荐房源</h1>
			<p>带你走进最温馨时尚的家</p>
		</div>
		<div class="house_content" ng-repeat="roomObj in datas">
			<div class="collection" data-id="{{roomObj.id}}" coll-room></div>
			<a ui-sref="details({roomId:roomObj.id,roomObj:roomObj})">
				<img src="{{roomObj.mainimgurl}}" alt="">
				<p class="price abs">
					<span><b>￥</b>{{roomObj.dayprice}}</span>
				</p>
				<p class="landlord_img abs">
					<img src="{{roomObj.landlordheadimgurl}}">
				</p>
				<p class="room_level abs">
					<img src="pages/home/images/level9-2_1.png">
				</p>
				<dl class="room_intoduce">
					<dt><span>{{roomObj.sName}}</span></dt>
					<dd>
						<nav>
							<span class="c22bb62">{{roomObj.goodCommentRate}}分</span> ·
							<span>{{roomObj.commentcnt}}评论</span> ·
							<span>已订{{roomObj.booknightcnt}}晚</span> ·
							<span>二居</span>
							<span>住{{roomObj.guestnum}}人</span> ·
							<span>{{roomObj.sDisplayaddr}}</span>
						</nav>
					</dd>
				</dl>
				<ul class="fy_label">
					<li>长租优惠</li>
					<li>蚂蚁实拍</li>
				</ul>
			</a>
		</div>
	</section>

	<!-- 热门房东 -->
	<section class="landlord">
		<a ui-sref="landlorInfo">
			<div class="home_landlord homt_title">
				<h1>热门房东</h1>
				<p>金牌房东热情招待，给你家的关怀</p>
			</div>
			<div class="landlord_content">
				<div class="landlord_list">
					<section class="landlord_introduce" ng-repeat="land in landlordList">
						<div class="landlord_details">
							<img src="{{land.landImg}}">
							<section>
								<p>{{land.landName}}</p>
								<span>{{land.landGender}}</span>
							</section>
						</div>
						<p class="landlord_p">{{land.landInfo}}</p>
					</section>
				</div>
			</div>
		</a>
	</section>

	<section class="safe_pay"></section>
	
	<!--<div class="empty" style="height:55px;"></div>-->
	<a href="#home_page" class="goTop" ng-click="gotop()"></a>
</div>


